<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <env name="AI_FPT_API_URL" value="https://api.fpt.ai"/>
        <env name="AI_FPT_API_KEY" value="DDae51js3WYFJMGjGiUswHRFYLjllTVi"/>
        <!--<env name="AI_FPT_API_KEY" value="ZcbQ0UMxohstTWVah9r3Jx2GaSq6VEbB"/>-->
    </php>
</phpunit>
